
##### TYPICAL R GITIGNORE ITEMS #####

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

##### CURRENT PIPELINE ITEMS TO GITIGNORE #####

# Ignore build artifacts
_targets/*
*/tmp/*
*/out/*
1_Download/out_nwis/*
1_Download/out_nhdplus/*
# But allow folder structure to be commited
#   with a placeholder file
!*/tmp/.placeholder
!*/out/.placeholder
!1_Download/out_nwis/.placeholder

##### PRE-PROPOSAL ITEMS TO GITIGNORE #####

# Ignore python build cache
0_Explore/lstm_modeling/__pycache__

# Ignore pipeline output files
0_Explore/_targets/*
0_Explore/1_fetch/tmp/*
0_Explore/1_fetch/out/*
0_Explore/2_process/out/*
0_Explore/3_visualize/out/*
!0_Explore/*.placeholder
